{
  "presets": [
    "es2015",
    "react",
    "survivejs-kanban"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
